<!--<button (click)="updateHeader()" id="updateHeader">Update header</button>
<button (click)="updateEvents()" id="updateEvents">Update events</button>-->
<p>
  <a [routerLink]="['/turnos/new']" class="btn btn-primary">Nuevo Turno</a>
</p>

<div class="well">
  <br />
  <full-calendar *ngIf="calendarOptions"
                 #fullcalendar
                 [options]="calendarOptions">

  </full-calendar>
</div>
<!-- Modal -->
<div class="modal fade" id="eventoBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="eventoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="eventoLabel">Advertencia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Quiere modificar los datos del Turno ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <!--<a [routerLink]="['/turnos/{{turno.id}}']" class="btn btn-primary" data-dismiss="modal">Aceptar</a>-->
      </div>
    </div>
  </div>
</div>
