<h1>Mascotas</h1>
<br />
<p>
  <a [routerLink]="['/mascotas/new']" class="btn btn-primary">Nueva Mascota</a>
</p>
<div class="well">
  <div class="form-group">
    <label for="animal"></label>
    <h5>Filtrar por Animal</h5>
    <select id="animal" class="form-control" [(ngModel)]="filtro.animalId" (change)="alCambiarFiltro()">
      <option value=""></option>
      <option *ngFor="let a of animales" value="{{a.id}}">{{a.nombre}}</option>
    </select>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th (click)="sortBy('Nombre')">Nombre</th>
      <th (click)="sortBy('Animal')">Animal</th>
      <th (click)="sortBy('Raza')">Raza</th>
      <th (click)="sortBy('fechaNacimiento')">Fecha de Nacimiento</th>
      <th (click)="sortBy('actualizacion')">Última Actualización</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of queryResult.items">
      <td>{{m.id}}</td>
      <td>{{m.nombre}}</td>
      <td>{{m.animal.nombre}}</td>
      <td>{{m.raza.nombre}}</td>
      <td>{{m.fechaNacimiento | date:'mediumDate'}}</td>
      <td>{{m.actualizacion | date:'mediumDate'}}</td>
      <td>
        <a [routerLink]="['/mascotas/', m.id]">Editar</a>
      </td>
    </tr>
  </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="filtro.pageSize" (page-changed)="onPageChange($event)"></pagination>
